<app-generic-table (changeEvent)="handleChangeEvent($event)" [formTemplate]="formTemplate" (formTemplateEvent)="handleFormTemplateEvent($event)" [forcedChangeVal]="forcedChangeVal" [tableConfigs]="tableConfigs">
    <ng-template #formTemplate pTemplate="content">
        <div [formGroup]="createOrUpdateForm" class="card p-fluid">
            <div class="field">
                <label htmlFor="Name">Name</label>
                <input pInputText formControlName="name" type="text" />
            </div>
            <div class="field">
                <label htmlFor="Email">Email</label>
                <input pInputText formControlName="email" type="text" />
            </div>
            <div class="field">
                <label htmlFor="Address">Phone</label>
                <input pInputText formControlName="phone" type="text" />
            </div>
        </div>
    </ng-template>
</app-generic-table>